<html>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<body style="background-image: url(); background-color: transparent">
    <div>
        <div class="n_bar">
            <!-- <a href="#"
        ><i class="fa fa-plus" style="font-size: 12px"></i> Add Book</a
      > -->
            <a href="/admin/my_account" target="iframe_b">
                My Account</a>
            <a href="/admin/admin_list" target="iframe_b">
                Admin/Member</a>
            <a href="/admin/user_list" target="iframe_b">Users</a>
            <a href="/admin/book_list" target="iframe_b">Book</a>
            <a href="/admin/category_list" target="iframe_b">Category</a>
            <a href="/admin/sell_order" target="iframe_b">
                Sell Order</a>
            <a href="/admin/buy_order" target="iframe_b">
                Buy Order</a>
            <a href="/admin/donate_list" target="iframe_b">Donates</a>
                <a href="/admin/contact_us" target="iframe_b"> Messages </a>
                <a href="/admin/report" target="iframe_b">Report</a>
                <a href="/admin/change_password" target="iframe_b"> Change Password </a>
            <a href="/admin/logout" target="iframe_b" onclick="return confirm('Are you sure you want logout from system')"> Logout </a>
            <!-- **************************************************************** -->

            <!-- <a href="contact.html" target="iframe_b"
          ><i class="fa fa-shopping-cart"></i> Logout</a
        > -->

            <!-- <a href="index.html" target="iframe_b"
          ><i class="fa fa-fw fa-user"></i> Category</a
        >
        <a href="#" target="iframe_b"
          ><i class="fa fa-shopping-cart"></i> Cart</a
        > -->
        </div>
    </div>
</body>
<link rel="stylesheet" href="/css/style.css" />

</html>