<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="icon" href="images/favicon.png" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>VolumePoint</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
    
    <div class="hero_section">
        {{>header}}
    </div>

    <section class="about_section layout_padding3">
        <div class="container container2">
            <div class="row">
                <div class="col-md-3">
                    <div class="menu">
                        <iframe src="db_menu" name="iframe_a" frameborder="1" scrolling="no" width="100%"
                            height="652">
                            <p>Your browser does not support iframes.</p>
                        </iframe>
                    </div>
                    <!-- <div class="img-box">
              <img src="images/svg_images/new8.svg" alt="" />
            </div> -->
                </div>
                <div class="col-md-9">
                    <div class="box">
                        <iframe name="iframe_b" frameborder="1" scrolling="yes" width="100%" height="652">
                            <p>Your browser does not support iframes.</p>
                        </iframe>
                    </div>
                    <!-- <div class="detail-box">
              <div class="heading_container">
                <h2>Why To Donate?</h2>
              </div>
              <p>
                Books are uniquely portable magic which carries your attached
                feelings forward. We are committed to carrying your emotions
                with your books and making them grow older! Your books can help
                someone in the same way it did for you. Let’s become a cause for
                the change & make a difference.
              </p>
            </div> -->
                </div>
            </div>
        </div>
    </section>

    <!-- jQery -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
    <!-- Google Map -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
    <!-- End Google Map -->
</body>

</html>