<html>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<body style="background-image: url(); background-color: transparent">
    <div>
        <div class="n_bar">
            <!-- <a href="#"
        ><i class="fa fa-plus" style="font-size: 12px"></i> Add Book</a
      > -->
            <a href="/user_account" target="iframe_b">
                My Account</a>
            <a href="/user_cart" target="iframe_b"> Cart</a>
            <a href="/user_book" target="iframe_b">Books</a>
            <a href="/user_order" target="iframe_b">Orders</a>
            <a href="/user_donate" target="iframe_b">Donates</a>
            <!-- <a href="/Temp_Folder/category_list.html" target="iframe_b">Category</a>
        <a href="/Temp_Folder/admin_list.html" target="iframe_b"> Admin</a> -->
           <a href="change_password" target="iframe_b"> Change Password </a>
            <a href="/logout"  onclick="return confirm('Are you sure you want logout from system')" target="iframe_b"> Logout </a>
            <!-- **************************************************************** -->

            <!-- <a href="contact.html" target="iframe_b"
          ><i class="fa fa-shopping-cart"></i> Logout</a
        > -->

            <!-- <a href="index.html" target="iframe_b"
          ><i class="fa fa-fw fa-user"></i> Category</a
        >
        <a href="#" target="iframe_b"
          ><i class="fa fa-shopping-cart"></i> Cart</a
        > -->
        </div>
    </div>
</body>
<link rel="stylesheet" href="css/style.css" />

</html>