<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="icon" href="images/favicon.png" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>VolumePoint</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <!-- font awesome style -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
    <div class="n_bar">
        <a href="/donate_book"><i class="fa fa-plus" style="font-size: 12px"></i> Donate</a>
        <a href="/login"><i class="fa fa-fw fa-user"></i> Login</a>
        <a href="/dashboard"><i class="fa fa-shopping-cart"></i> Cart</a>
    </div>

    <div class="hero_section">
        {{>header}}
    </div>

    <!-- ************************************************************************* -->
    <section class="about_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="/images/svg_images/new8.svg" alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>"The Transformative Impact of Book Donation"</h2>
                        </div>
                        <p>
                            Donating a book is more than just giving away an item;
                            it's a selfless act that can have a profound impact on someone's life.
                            When you donate a book, you are not only sharing knowledge and ideas,
                            but you are also providing the opportunityfor someone to learn, grow,
                            and be inspired.Your donation can be the start of a lifelong love of reading,
                            or the key to unlocking a new skill or interest. By donating a book,
                            you are giving the gift of education, empowerment, and hope.
                        </p>
                    </div>
                    
                    <div class="box">
                        <div class="detail-box"><a href="/donate_book"> Donate Book </a></div>
                    </div>
                </div>
                {{!-- <div class="col-sm-6 col-md-4">
                    <div class="box">
                        <div class="detail-box"><a href="/category"> Donate Book </a></div>
                    </div>
                </div> --}}
            </div>
        </div>
    </section>

    <!-- ******************************************************************************** -->
    <section class="about_section layout_padding temp">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>The Importance of Book Donation in Promoting Education</h2>
                        </div>
                        <p>
                            Access to books and educational resources is essential for people of all ages to thrive
                            and reach their full potential. Unfortunately, not everyone has access to the materials they need to learn and
                            grow.
                            That's where book donation comes in. By donating books, you are helping to promote education and literacy,
                            especially in communities where resources may be limited.
                            Your donation can open doors to new opportunities, spark curiosity, and inspire a love of learning.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="/images/svg_images/new8.svg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ******************************************************************************** -->
    <section class="about_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="/images/svg_images/new8.svg" alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>Why To Donate?</h2>
                        </div>
                        <p>
                            Books are uniquely portable magic which carries your attached
                            feelings forward. We are committed to carrying your emotions
                            with your books and making them grow older! Your books can help
                            someone in the same way it did for you. Let’s become a cause for
                            the change & make a difference.
                        </p>
                    </div>
                    <div class="box">
                        <div class="detail-box"><a href="/donate_book"> Donate Book </a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ******************************************************************************** -->

    <!-- <section class="about_section layout_padding">
      <div class="container"></div>
    </section> -->
    <!-- ******************************************************************************** -->
    <!-- blog section -->

    <!-- <section class="blog_section layout_padding">
      <div class="container">
        <div class="heading_container heading_center">
          <h2>From Our Blog</h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="images/b1.jpg" alt="" />
                <h4 class="blog_date">
                  <span> 19 January 2021 </span>
                </h4>
              </div>
              <div class="detail-box">
                <h5>Eius, dolor? Vel velit sed doloremque</h5>
                <p>
                  Incidunt magni explicabo ullam ipsa quo consequuntur eveniet
                  illo? Aspernatur nam dolorem a neque? Esse eaque dolores hic
                  debitis cupiditate, ad beatae voluptatem numquam dignissimos
                  ab porro
                </p>
                <a href=""> Read More </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="images/b2.jpg" alt="" />
                <h4 class="blog_date">
                  <span> 19 January 2021 </span>
                </h4>
              </div>
              <div class="detail-box">
                <h5>Minus aliquid alias porro iure fuga</h5>
                <p>
                  Officiis veritatis id illo eligendi repellat facilis animi
                  adipisci praesentium. Tempore ab provident porro illo ex
                  obcaecati deleniti enim sequi voluptas at. Harum veniam eos
                  nisi distinctio! Porro, reiciendis eius.
                </p>
                <a href=""> Read More </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- end blog section -->

    <!-- info section -->

    <section class="info_section layout_padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 info-col">
                    <div class="info_detail"> 
                        <h4>About Us</h4>
                        <p>
                            Passionate about literature, we offer a wide variety of books, excellent customer service, and a unique online book
                            barter system.
                        </p>
                        <div class="info_social">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 info-col">
                    <div class="info_contact">
                        <h4>Address</h4>
                        <div class="contact_link_box">
                            <a href="http://maps.google.com/?q=nav+gujarat++collegelocation&rlz=1C1YTUH_enIN1024IN1024&ei=Uz9GZMIls5yx4w_UjKPoBA&ved=0ahUKEwiCm4GejsL-AhUzTmwGHVTGCE0Q4dUDCA8&uact=5&oq=nav+gujarat++collegelocation&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIKCCEQoAEQwwQQCjoLCAAQigUQhgMQsAM6CAghEKABEMMEOgQIIRAKSgQIQRgBUOgBWNUKYMQMaAFwAHgAgAGTAYgBzwiSAQMwLjiYAQCgAQHIAQTAAQE&sclient=gws-wiz-serp">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span> Location </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span> Call +91 9924400501 </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span> volumepointbooks@gmail.com </span>
                            </a>
                        </div>
                    </div> 
            </div>
        </div>
    </section>

    <!-- end info section -->

    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <p>
                @ 2022 All Rights Reserved By VolumePoint
                <!-- &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">Free Html Templates</a> -->
            </p>
        </div>
    </footer>
    <!-- footer section -->

    <!-- jQery -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
    <!-- Google Map -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
    <!-- End Google Map -->
</body>

</html>