<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="icon" href="/images/favicon.png" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>VolumePoint</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <!-- font awesome style -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/responsive.css" rel="stylesheet" />

    <link href="/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style2.css" />
    <!-- responsive style -->
</head>

<body class="sub_page">
    <!-- ************************************************************************************************ -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:500" rel="stylesheet" type="text/css" />

    <div class="login">
        <div class="login-header">
            <h1>Change Your Password</h1>
        </div>
        <center>
            {{!-- <h6>Enter the valid UserID and Password</h6> --}}
        </center>
        <form action="/login" method="post">
            <div class="login-form">
                <h3>Email:</h3>
                <input type="text" placeholder="Email" name="email" /><br />
                <h3>Password:</h3>
                <input type="text" placeholder="New Password" name="password" /><br />
                <h3>Confirm Password:</h3>
                <input type="password" placeholder="Confirm Password" name="c_password" />
                <br />
                <input type="submit" value="Change" class="login-button" />
                <br />
                <a class="sign-up" href="/registration">Sign Up!</a>
                <br />
                <h6 class="no-access">Forgot Password?</h6>
            </div>
        </form>
    </div>

    <!-- jQery -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
    <!-- Google Map -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
    <!-- End Google Map -->
</body>

</html>